*{
    margin: 0;
    padding:0;
    font-family:'Helvetica';
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

/*--- Main part of the whole body, hidden over oher elements (window screen) ---*/
#main{
    width: 100%;
    height: 100%;
    /* background-color: rgb(255, 255, 157); */
    display: flex;
}
/* -- left part of the body-- */
#left{
    height: 100%;
    width: 37%;
    /* background-color: aquamarine; */
    position:relative;
    background-color: rgba(251, 231, 206, 0.858);
}

/* -- Right part of the body-- */
#right{
    width: 63%;
    height: 100%;
    background-color: beige;
}

/* -- Right top part of the body-- */

#rtop{
    display: flex;
    width: 100%;
    height: 50%;
    background-color: rgb(205, 64, 64);
}

/* -- Right top part of the body-- */
#rbottom{width: 100%;
    height: 50%;
    background-image: url(https://images.unsplash.com/photo-1597714026720-8f74c62310ba?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);
    background-size: cover;
    background-position: centre;
}

/* -- Right top left part of the body-- */

#rtopleft{
    width: 55%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1579247289081-dc2a9832539c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);
    background-position: center;
    background-size: cover;
}

/* -- Right top right of the body-- */

#rtopright{
    width: 45%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1559181567-c3190ca9959b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=464&q=80);
    background-size: cover;
    background-position:bottom;
}

/* -- Right top right of the body-- */
#lnav{
    width: 100%;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
}

#lnavr a{
    margin-right:20px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 12px;
}

#lnavr{
    display: flex;
    align-items: center;
}

#lnavr i{
    color: #0A66C2;
}

#left #textcentre{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

#textcentre h1{
    font-size: 88px;
    font-weight: 777;
}

#textcentre p{
    opacity: .6;
    font-size: 17px;
    line-height:20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#textcentre a{
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    font-weight: 800;
    font-size: 12px;
    opacity: .6;
}

@media(max-width: 500px){

    #main{
        flex-direction: column;
    }

    #main #left{
        width: 100px;
    }

    #main #right{
        width: 100px;
    }
}